@{
  ViewData["Title"] = "Home Page";
}


<div class="text-center">
  <h3 class="display-4">Hello, World!</h3>
  <p>Welcome to my simple assignment.</p>
  <h2>It's @Model.Time right now on the server!</h2>
</div>
