@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>   Although this is just a simple assignment <br />
    I wanted to see if I could add another page <br />
    for the purpose of this assingment. </p>